* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 12pt;
    font-family: 'Montserrat', 'Kanit', 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('img/bg2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#my-avatar .imgava {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-right: 40px;
    float: left;
}

#container-data {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 15px;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#container-data .my-profile .section p {
    text-indent: 10px;
}

#container-data .my-profile .section .fmo .list {
    text-indent: 10px;
}

.section {
    margin: 15px 0;
}

.fmo ul li {
    margin-left: 15px;
}

.fmo img {
    width: 5%;
    height: 5%;
    margin-left: 10px;
    margin-top: 5px;
}

.fmo li {
    margin: 5px;
}

.profess-skill {
    margin-top: 10px;
}

.outer {
    margin: 10px;
    border: 2px solid white;
}

.inner-communication-skill {
    border: 1px solid white;
    background-color: white;
    color: black;
    width: 75%;
}

.inner-communication-skill p {
    margin-left: 5px;
}

.inner-leader-skill {
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 67%;
}

.inner-leader-skill p {
    margin-left: 5px;
}

.inner-confidential-skill {
    border: 1px solid black;
    background-color: grey;
    width: 50%;
}

.inner-confidential-skill p {
    margin-left: 5px;
}

.software-skill {
    margin-top: 15px;
}

.inner-photoshop-skill {
    border: 2px solid white;
    background-color: white;
    color: black;
    width: 60%;
}

.inner-photoshop-skill p {
    margin-left: 5px;
}

.inner-premierepro-skill {
    border: 1px solid white;
    background-color: black;
    width: 55%;
}

.inner-premierepro-skill p {
    margin-left: 5px;
}

.inner-ms-skill {
    border: 1px solid black;
    background-color: grey;
    width: 80%;
}

.inner-ms-skill p {
    margin-left: 5px;
}

.code-skill {
    margin-top: 15px;
}

.inner-python {
    border: 2px solid white;
    background-color: white;
    color: black;
    width: 75%;
}

.inner-python p {
    margin-left: 5px;
}

.inner-java {
    border: 1px solid white;
    background-color: black;
    width: 65%;
}

.inner-java p {
    margin: 5px;
}

.inner-html-css {
    border: 1px solid black;
    background-color: grey;
    width: 78%;
}

#education {
    margin-top: 15px;
}

table,
th,
td {
    border: 2px solid white;
    padding: 10px;
}