.lot {
    border: 7px solid yellow;
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 1rem;
    transition: .3s ease-in-out;
    text-align: center;
}
.lot:hover{
    cursor: grab;
    background-color: rgba(255,255,255,0.1);

}

.lot-name{
    color: yellow;

}